body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 3px;
}

.calculator-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    display: flex;
    border: 1px solid gray;
    background-color: rgb(162, 171, 147);
    height: 50px;
    width: 230px;
    justify-content: right;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 5px 0;
    padding: 0 3px;
}

.calc-buttons {
    display: flex;
}

.calc-rows {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.calc-column {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

#equal {
    flex-grow: 2;
    background-color: orange;
    border: 1px solid gray;
    border-radius: 3px;
}

#equal:hover {
    background-color: rgb(205, 133, 0);
}

.footer {
        display: flex;
        justify-content: center;
        background-color: #28455f;
        color: #e5e7eb;
        padding: 10px 0;
        bottom: 0;
        width: 100%;
}